@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Estilo para todos los selectores*/
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo y posicionamiento de la capa base*/
body {
    min-height: 100vh;
    background-image:linear-gradient(360deg, rgb(0, 0, 0) 0%, 
    rgba(0, 0, 0, 0.685) 0%, rgba(232, 240, 246, 0.226) 50%, 
    rgba(121, 121, 121, 0) 100%),url(/img/independencia.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: center;
    animation: fanimado 25s infinite;
    align-items: center;
}

@keyframes fanimado {
    0%{
        background-position: 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 40% 50%;
    }
}

.form-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
}

/* Estilo de la capa principal*/
.form-box {
    z-index: 10;
    background: #fff;
    box-shadow: 0 26px 25px rgb(0 0 0 / 25%);
    width: 350px;
    padding: 50px 40px;
    overflow: hidden;
    border-radius: 5px 0 5px 5px;
}

.imgBox {
    z-index: 888;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 5px 25px rgb(0 0 0 / 5%);
    height: 432px;
    padding: 15px 35px;
    border-radius: 5px 0 5px 5px;
}

.sign-in-imgBox {
    border-radius: 0 5px 5px 0;
}

.form-box h2 {
    font-size: 2em;
    margin-bottom: 40px;
    font-weight: 700;
    text-align: center;
}

.form-box .field{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #eee;
    margin-bottom: 25px;
}

.form-box .field.active {
    border-bottom: 2px solid #0065ff;
    transition: 0.3s ease;
}

.form-box .field input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 1em;
    padding-bottom: 5px;
}

.form-box .field i{
    color: #828da0;
    font-size: 1.3rem;
    margin-right: 10px;
    padding-bottom: 5px;
}

.form-box .field.active i {
    color: #0065ff;
    transition: 0.3s ease;
}

::placeholder {
    color: #828da0;
    font-size: 0.85em;
}

.eye-btn {
    cursor: pointer;
}

.eye-btn i:hover {
    color: #0065ff;
    transition: 0.3s ease;
}

.forgot-link {
    text-align: right;
    transform: translateY(-10px);
}

.forgot-link a {
    color: #0065ff;
    font-size: 0.8em;
    text-decoration: none;
    font-weight: 500;
}

.submit-btn {
    background: #0065ff;
    color: #fff;
    border: none;
    outline: none;
    width: 120px;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 0.85em;
    font-weight: 500;
    margin-top: 5px;
    cursor: pointer;
}
.submit-btn20 {
    background: #d1d1d1;
    color: black;
    border: none;
    outline: none;
    width: 120px;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 0.85em;
    font-weight: 500;
    margin-top: 5px;
    cursor: pointer;
}
.imgBox img{
    max-width: 250px;
}

.sliding-link {
    display: flex;
    font-size: 0.8em;
    margin-bottom: 25px;
}

.sliding-link span{
    color: #0065ff;
    font-weight: 600;
    cursor: pointer;
}

/* Adaptacion a pantalla movil */
@media only screen and (max-width: 735px) {
    body {
        background-image: none;
    }
    
    .form-container {
        flex-direction: column;
        top: 0;
        overflow: hidden;
        padding: 30px;
    }

    .form-box {
        box-shadow: none;
        padding: 0;
    }

    .imgBox img {
        max-width: 45%;
        min-width: 220px;
    }

    .imgBox {
        box-shadow: none;
        width: 100%;
        height: auto;
        padding: 35px 35px 15px;
    }

    .sig-up-form {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 450px) {
    body {
        background-image: none;
    }

    .form-container {
        font-size: 0.9rem;
    }

    .form-box {
        width: 100%;
    }
}

@media screen and (max-width: 325px) {
    .other-logins a {
        padding: 9px 25px;
        margin: 0 3px;
    }

    body {
        background-image: none;
    }
}